[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.3
[submodule "lib/rain.interface.flow"]
	path = lib/rain.interface.flow
	url = https://github.com/rainprotocol/rain.interface.flow
[submodule "lib/rain.interface.factory"]
	path = lib/rain.interface.factory
	url = https://github.com/rainprotocol/rain.interface.factory
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
	branch = v4.8.3
[submodule "lib/rain.interface.interpreter"]
	path = lib/rain.interface.interpreter
	url = https://github.com/rainprotocol/rain.interface.interpreter
